<% include header %>

<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <img src="img/logo.png" style="width: 108px; height:40px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav-link text-body" href="/" style="font-weight: 600;">
                            <i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-body" href="/about" style="font-weight: 600;">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-body" href="/contect" style="font-weight: 600;" >Contect</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-body" href="/login" style="font-weight:600;" >Login</a>
                    </li>
                  </ul>
                </div>
              </nav>
</div>