<% include partials/header %>
<% include partials/navbar %>

<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-4 text-center">What is our website name</h1>
    
    <p class="lead">Mauris dolor felis, sagittis at, luctus sed, aliquam non,
       tellus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
         Phasellus faucibus molestie nisl. Duis ante orci, molestie vitae vehicula venenatis,
          tincidunt ac pede. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
           sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Nam quis nulla.
         Aenean placerat. Etiam neque. Pellentesque ipsum. Pellentesque pretium lectus id turpis.
          Aliquam ornare wisi eu metus. Aenean id metus id velit ullamcorper pulvinar. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Cras elementum. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <div class="box text-center">
        <img src="img/Co-founder.jpg">
        <h2>Rohit verma <br> <span>Co-founder</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Suscipit doloribus numquam autem accusamus fugiat nesciunt sint.</p>

           <ul>
             <li><a href="#"><i class="fa fa-facebook" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-google-plus" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-instagram" area-hidden="true"></i></a></li>
           </ul>
      </div>

    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box text-center">
            <img src="img/founder.jpg">
        <h2>Rohit verma <br> <span>Co-founder</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
           Suscipit doloribus numquam autem accusamus fugiat nesciunt sint.</p>

           <ul>
             <li><a href="#"><i class="fa fa-facebook" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-google-plus" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-linkedin" area-hidden="true"></i></a></li>
             <li><a href="#"><i class="fa fa-instagram" area-hidden="true"></i></a></li>
           </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="box text-center">
            <img src="img/devloper.jpg">
            <h2>Rohit verma <br> <span>Co-founder</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Suscipit doloribus numquam autem accusamus fugiat nesciunt sint.</p>
    
               <ul>
                 <li><a href="#"><i class="fa fa-facebook" area-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter" area-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-google-plus" area-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-linkedin" area-hidden="true"></i></a></li>
                 <li><a href="#"><i class="fa fa-instagram" area-hidden="true"></i></a></li>
               </ul>
        </div>
    </div>
  </div>
</div>

<div class="container text-center" style="padding: 80px;">
  <h4 style="padding: 20px;"">Wanna partnership with us ??</h4>
  <div class="btn btn-success">Apply Now</div>
</div>

 <% include partials/footer %>