<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <div class="container text-center" style="padding-top:30px; padding-bottom:30px;">
        <h2>Contect Us</h2>
        <a href="#"> example@gmail.com </a>
    </div>
</div>
    <div class="container-fluid bg-light"> 
        <div class="container" style="padding-top:30px; padding-bottom:30px;">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">New Delhi Office</h5>
                                <p class="card-text">abc Technologies India Pvt Ltd, Plot 19, Sewa Towers,</p>
                                <br>
                                <p>Gurgaon<br>845401</p>
                                </div>
                        </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">East Champaran Office</h5>
                                <p class="card-text">mathia zirat ,ward no.14 near bosco motors</p><br>
                                    <p>Motihari<br>857402</p>
                                </div>
                        </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">

                        <div class="card text-center" style="width: 18rem;">
                                <div class="card-body">
                                <h5 class="card-title">Patna office</h5>
                                <p class="card-text">rajendra nagar,near railway station ward no.12</p><br>
                                <p>Patna<br>456709</p>
                                </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
            <div class="container text-center">
              <form>
                    <div class="form-group">
                            <label for="exampleFormControlTextarea1">Give us your review here</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                    <div class="btn btn-sm btn-success">Submit</div>
              </form>

            </div>
          </div>

<% include partials/footer %>