<% include partials/header %>
<% include partials/navbar %>

<!-- slider -->
<div class="container-fluid container-fluid px-0">
           <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100" src="img/1.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/2.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="img/3.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
</div>
<!-- slider -->

<!-- search -->
<div class="container search-container">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <input class="form-control border-secondary py-2" type="search" placeholder="search locations / landmark">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                             </div>
                        </div>
                    </div>
               </div>              
</div>
<!-- search -->

<!-- Services -->
<div class="container-fluid container-fluid px-0 bg-light">
        <div class="container services">
            <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12  text-center">
                    <a href="#"><img src="img/appliences.png">
                    <p class="text-monospace"> Repairing </p></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12 text-center">
                     <a href="#"><img src="img/beauti.png">
                     <p class="text-monospace"> Beauti & saloon </p></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12 text-center">
                    <a href="#"><img src="img/home.png">
                    <p class="text-monospace"> House Rent </p></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12 text-center">
                    <a href="#"><img src="img/tution.png">
                    <p class="text-monospace"> Tution </p></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12 text-center">
                    <a href="#"><img src="img/vehical.png">
                    <p class="text-monospace"> Vehicle Booking </p></a>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-6 col-xm-12 text-center">
                    <a href="#"><img src="img/worker.png">
                    <p class="text-monospace"> Worker </p></a>
                </div>
            </div>
            </div>
        </div>
</div>
<!-- Services -->
<!-- Reparing Services -->
<div class="container" style="padding:15px;">
    <h4>Repairing Services</h4>
</div>

<div class="container reparing">
    <div class="row">
       <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
           <a href="#"><img class="img-thumbnail" src="img/ac.jpg">Ac Repairing</a>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
           <a href="#"><img class="img-thumbnail" src="img/tv.jpg">Tv Repairing</a>
       </div>
       <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
            <a href="#"><img class="img-thumbnail" src="img/freeze.jpg">Refrigerator Repairing</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/washing.jpg">washing machine Repairing</a>
         </div>
    </div>
</div>
<div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- Reparing Services -->

<!-- beauti & saloon-->
<div class="container" style="padding:15px;">
        <h4>Beauti & saloon</h4>
</div>
 <div class="container reparing">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/parlor.jpg">Book female parlor</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/parlor-home.jpg">female Parlor at home</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/saloon.jpg">Book saloon</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                    <a href="#"><img class="img-thumbnail" src="img/saloon-home.jpg">Saloon at home</a>
             </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- beauti & saloon-->

<!-- House rent -->
<div class="container" style="padding:15px;">
        <h4>Renting Services</h4>
</div>
<div class="container reparing">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/office.jpg">Room for Office</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/s-room.jpg">Single room for Batchelor</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/f-home.jpg">House for family</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                    <a href="#"><img class="img-thumbnail" src="img/shop.jpg">Room for shop</a>
             </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- house rent-->

<!-- home tution -->
<div class="container" style="padding:15px;">
        <h4>Tutions / Classes</h4>
</div>
<div class="container reparing">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/home-tution.jpg">Home tution</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/o-tution.jpg">Tution Outside</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/dance.jpg">Dance Class</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                    <a href="#"><img class="img-thumbnail" src="img/painting-class.jpg">Painting Class</a>
             </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- Home tution -->

<!-- vehical Services -->
<div class="container" style="padding:15px;">
        <h4>Vehical Booking</h4>
</div>
<div class="container reparing">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/vehical-1.png">Vehical for wedding</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/vehical-2.jpg">small vehical for trip</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/vehical-3.jpg">vehical for commercial</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                    <a href="#"><img class="img-thumbnail" src="img/vehical-4.jpg">Big Vehical for long trip </a>
             </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- vehical Services -->

<!-- Workers -->
<div class="container" style="padding:15px;">
        <h4>Workers</h4>
</div>
<div class="container reparing">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/worker-1.jpg">House Painter</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
               <a href="#"><img class="img-thumbnail" src="img/worker-2.jpg">Home Decorator</a>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                <a href="#"><img class="img-thumbnail" src="img/worker-3.jpg">Vehical Engneer</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 text-center reparing-box">
                    <a href="#"><img class="img-thumbnail" src="img/worker-4.jpg"> Labour for One Day </a>
             </div>
        </div>
    </div>
    <div class="container" style="padding-top:30px;"><button class="btn btn-outline-success btn-sm text-right" style="padding-right:30px; padding-left:30px;"> more</button></div>
<!-- workers -->

<!-- Our Recommandation -->
<div class="container-fluid px-0" style="padding-top:20px;">
        <div class="card mb-3 text-center">
            <div class="inner">
                    <img class="card-img-top img-thumbnail" src="img/codekala.jpg" alt="Card image cap" style="width:100%; height:325px;">
            </div>
                <div class="card-body">
                  <h5 class="card-title">FullStack Devloper</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <button class="btn btn-success btn-md">Apply Now</button>
                </div>
              </div>
</div>
<% include partials/footer %>