<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <div class="container" style="padding-top:70px; padding-bottom: 70px;">
       <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                   <div class="card">
                           <div class="card-header bg-dark text-white">
                               <h4>Login</h4>
                           </div>
                           <div class="card-body">
                               <div class="input-group mb-3">
                                   <div class="input-group-prepend">
                                   </div>
                                   <input type="text" class="form-control" placeholder="User Name" aria-label="Example text with two button addons" aria-describedby="button-addon3">
                               </div>
                               <div class="input-group mb-3">
                                       <div class="input-group-prepend">
                                       </div>
                                       <input type="password" class="form-control" placeholder="password" aria-label="Example text with two button addons" aria-describedby="button-addon3">
                               </div>
                                 <div class="text-center">
                                       <a href="#" class="btn btn-success text-center btn-block">Login</a>
                                       <p style="padding-top:5px;">Don't have an account? <a href="/signup"><b>Create One</b></a></p>
                                 </div>

                          </div>
                </div>
              </div>  
           </div><!-- end of row -->
           <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
       </div>
   </div>

<% include partials/footer %>