<% include partials/header %>
<% include partials/navbar %>

<div class="container">
    <div class="container" style="padding-top:30px; padding-bottom: 40px;">
       <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"> </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">


                        <div class="card border-dark">
                                <div class="card-header bg-dark text-white">
                                    <h3 class="mb-0 my-2">Sign Up</h3>
                                </div>
                                <div class="card-body">
                                    <form class="form" role="form" autocomplete="off">
                                        <div class="form-group">
                                            <label for="inputName">Name</label>
                                            <input type="text" class="form-control" id="inputName" placeholder="full name">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3">Email</label>
                                            <input type="email" class="form-control" id="inputEmail3" placeholder="email@gmail.com" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3">Password</label>
                                            <input type="password" class="form-control" id="inputPassword3" placeholder="password" title="At least 6 characters with letters and numbers" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputVerify3">Verify</label>
                                            <input type="password" class="form-control" id="inputVerify3" placeholder="password (again)" required="">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success btn-sm btn-block">Register</button>
                                            <p class="text-center" style="padding-top:5px;">Already  have an account? <a href="/login"><b>Log In</b></a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>



                </div>  
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"> </div> 
           </div><!-- end of row -->           
       </div>
   </div>

<% include partials/footer %>