.display-4 {
    font-size: 2.0rem !important;
    font-weight: 700 !important;
    line-height: 4.0 !important;
}
.lead {
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.89 !important;
}

.box {
    background: white;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 330px;
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
}
.box:hover {
    box-shadow: 0 30px 70px rgba(0,0,0,.3);
}

.box img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.box h2 {
    font-size: 20px;
    color: #262626;
    
}

.box h2 span {
    font-size: 14px;
    background: #e91e63;
    color: #fff;
    display: inline-block;
    padding: 4px 10px;
    border-radius: 15px;
}

.box p {
    color: #262626;
    font-size: 15px;
    font-weight: 500;
}

.box ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.box ul li {
    list-style: none;
    float: left;
}

.box ul li a {
    display: block;
    color: #aaa;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.5s;
    text-align: center;
}

.box ul li a:hover {
    color: #e91e63;
    transform: rotateY(360deg);
}
