.carousel-item{
    height: 500px;
} 
.carousel-item img{
    height: 500px;
}

.search-container {
    padding-top: 30px;
    padding-bottom: 25px;
}
.services {
    padding-top: 35px;
    padding-bottom: 25px;
}

.services img {
    
    width: 55px;
    height: 70px;
}

.services p {
    padding: 10px;
}

.services a  {
    color: gray;
}

.services a:hover {
    color: black;
    text-decoration: none;
}

.reparing a {
    color: grey;
    
}

.reparing a:hover {
    color: black;
    text-decoration: none;
    
}

.reparing-box:hover {
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    
    
}

.reparing-box {
    border-radius: 20px;
    
}

.reparing img {
    width: 259px;
    height: 140px;
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);

}

.footer {
	margin: auto;
	padding: 20px 0px;
	background: #333039;
	width: 100%;
	height: auto;
	text-align: center;
}

.footer h5 {
	color: white;
}

.footer a {
	border: 2px solid white;
	padding: 5px 12px;
	border-radius: 50%;
	color: white;
}

.footer a:hover {
	color: #333039;
	background: white;

}

h4 {
    font-family: inherit;
    padding-top: 10px;
}